<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Log IN</title>
    <link rel="stylesheet" href="loginstyle.css">
</head>

<body>
    <div class="box">
        <form>
            <span class="text-center">Авторизация</span>
            <div class="input-container">
                <input type="text" required="" />
                <label>Имя</label>
            </div>
            <div class="input-container">
                <input type="mail" required="" />
                <label>Пароль</label>
            </div>
            <button type="button" class="btn">Войти</button>
        </form>
    </div>
</body>

</html>