<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Log IN</title>
    <link rel="stylesheet" href="loginstyle.css">
</head>

<body>
    <div class="box">
        <form>
            <span class="text-center">Авторизация</span>
            <div class="input-container">
                <input type="text" name="username"/>
                <label>Логин</label>
            </div>
            <div class="input-container">
                <input type="password" name="passowrd" />
                <label>Пароль</label>
            </div>
            <button type="button" class="btn">Войти</button>
        </form>
    </div>
    <div class="box">
        <form>
            <span class="text-center">Регистрация</span>
            <div class="input-container">
                <input type="text" name="username"/>
                <label>Логин</label>
            </div>
            <div class="input-container">
                <input type="password" name="passowrd" />
                <label>Пароль</label>
            </div>
            <div class="input-container">
                <input type="password" name="passowrd" />
                <label>Подтвердите пароль</label>
            </div>
            <button type="button" class="btn">Войти</button>
        </form>
    </div>
</body>

</html>