<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Log IN</title>
    <link rel="stylesheet" href="loginstyle.css">
</head>

<body>
<div class="box">
    <form action="/registration" method="post">
        <span class="text-center">Регистрация</span>
        <div class="input-container">
            <input type="text" name="username"/>
            <label>Логин</label>
        </div>
        <div class="input-container">
            <input type="email" name="email"/>
            <label>Почта</label>
        </div>
        <div class="input-container">
            <input type="password" name="password" />
            <label>Пароль</label>
        </div>
        <div class="input-container">
            <input type="password" name="confirm" />
            <label>Подтвердите пароль</label>
        </div>
        <button type="submit" class="btn">Войти</button>
    </form>
</div>
</body>

</html>